<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bodyClaro" id="bodyId">
    <div class="container-fluid">
        <div class="row m-5">
            <div class="w-auto">
                <app-menuadmin></app-menuadmin>
            </div>
            <div class="col ml-3 p-0">
                    <app-card-usuario-admin class="w-100"></app-card-usuario-admin>
            </div>
        </div>
    </div>
</body>
</html>