i{
    padding-top: 2.5rem;
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    transition: all 0.3s ease; /* Animación suave de 0.3 segundos */
    &:hover{
        color: aqua; /* Tamaño del icono al pasar el ratón sobre él */
    }
}
.divisor{
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
    margin-top: 1rem;
}
::ng-deep .p-card .p-card-content {
    padding: 0; 
}

.botonTema{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
  