<footer class="footer mt-5">
    <div class="px-4 py-6 md:px-6 lg:px-8 text-center">
        <img src="assets/icono/logosimple.png" class="border-round imagenLogo" alt="Image" height="130">
        <p class="font-medium text-600 mt-4 mb-3">© 2023 Decsec, Inc</p>
        <p class="text-600 line-height-3 mt-0 mb-4">© 2024 Todos los derechos reservados. Creado con cariño por el equipo de Decsec. ¡Síguenos en nuestras redes sociales para estar al tanto de nuestras últimas novedades y eventos emocionantes!</p>
        <div class="flex align-items-center justify-content-center"><a
                class="cursor-pointer border-circle bg-primary text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-twitter"></i></a><a
                class="cursor-pointer border-circle bg-primary text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
                style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-facebook"></i></a><a
                class="cursor-pointer border-circle bg-primary text-bluegray-500 block inline-flex justify-content-center align-items-center"
                style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-github"></i></a></div>
    </div>
</footer>