.bodyClaro{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("assets/fondo/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bodyOscuro{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("assets/fondo/fondoOscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}