<div class="cardPublicacion">
    <div class="flex w-full relative align-items-center justify-content-between my-3 px-4">
        <div class="border-top-1 surface-border top-50 left-0 absolute w-full"></div>
        <div class="px-2 z-1 surface-card flex align-items-center">                        
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle" class="flex align-items-center" />
            <span class="font-bold text-900 white-space-nowrap ml-2">
                Preachingfire3
            </span>
        </div>
        <div class="px-2 z-1 surface-card flex align-items-center">
            <div class="flex">
                <button class="border-circle pi pi-heart p-2" style="background: none; border: solid 1px red; color: red;"></button>
                <button class="border-circle pi pi-comments p-2 ml-2" style="background: none; border: solid 1px mediumseagreen; color: mediumseagreen;"></button>
            </div>            
        </div>
    </div>
    <div class="text-600 m-3">
        <p> La vida pirata la vida mejor 🦜🏴‍☠️☠️</p>
    </div>
    <!--<img src="assets/fondo/screenshot.png" class="w-100 h-auto border-round">-->

    <p-galleria 
    [value]="images" 
    [showIndicators]="true" 
    [showThumbnails]="false" 
    [responsiveOptions]="responsiveOptions" 
    [containerStyle]="{ 'width': '100%','height': 'auto' }">
        <ng-template pTemplate="item" let-imagen>
            <img [src]="imagen.url" style="width: 100%; height: auto; display: block;" />
        </ng-template>
</p-galleria>
</div>