<div class="cardPublicacion">
    <div class="flex w-full relative align-items-center justify-content-between my-3 px-4">
        <div class="border-top-1 surface-border top-50 left-0 absolute w-full"></div>
        <div class="px-2 surface-card z-1 flex align-items-center">
            <p-avatar
                [image]="publicacion.fotoPerfil ? 'data:' + publicacion.fotoPerfil.tipo + ';base64,' + publicacion.fotoPerfil.datos : 'assets/icono/userDefault.png'"
                shape="circle" class="flex align-items-center" />
            <span class="font-bold text-900 white-space-nowrap ml-2">
                {{publicacion.nick}}
            </span>
        </div>
        <div class="flex justify-content-end m-3 surface-card px-2 z-1">
            <app-megusta [numeroMeGusta]="publicacion.megusta" [idPublicacion]="publicacion.id" [estadoBoton]="publicacion.isliked"></app-megusta>
            <button class="border-none ml-2" title="Comentarios"
                style="background: none; border: solid 1px mediumseagreen; color: mediumseagreen"
                (click)="abrirComentarios()">
                <i class="pi pi-comments" style="font-size: 1.7rem"></i></button>
        </div>
        <div class="px-2 z-1 surface-card flex align-items-center">
            <div class="flex">
                <span class="text-900">{{ getTiempoTranscurrido(publicacion.fechaPublicacion) }}</span>
            </div>
        </div>
    </div>
    <div class="text-600 m-3">
        <p>{{publicacion.comentarioUsuario}}</p>
    </div>

    <p-galleria *ngIf="publicacion.imagenes && publicacion.imagenes.length > 0" [value]="publicacion.imagenes"
        [circular]="true" [showIndicators]="publicacion.imagenes.length > 1" [showThumbnails]="false"
        [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-imagen>
            <div [ngStyle]="{'height': '30rem', 'width': '50rem','overflow':'hidden','background-color': 'black', 'border-radius': '10px'}"
                class="flex justify-content-center align-content-center">
                <img [src]="'data:' + imagen.tipo + ';base64,' + imagen.datos"
                    style="max-width: 100%; max-height: 100%; object-fit: contain;">
            </div>
        </ng-template>
    </p-galleria>
</div>


<!--DIALOG DE COMENTARIO-->
<p-dialog [(visible)]="visible" [modal]="true" [header]="'Detalles de la publicación'" class="scrollable"
    [style]="{ width: publicacion.imagenes && publicacion.imagenes.length > 0 ? '95rem' : '65rem', height: '60rem' }" [draggable]="false" [resizable]="false">
    <div class="grid nested-grid" style="height: 100%;">
        <div class="col-8 p-0" style="background-color: black; height: 100%;" *ngIf="publicacion.imagenes && publicacion.imagenes.length > 0">
            <p-galleria *ngIf="publicacion.imagenes && publicacion.imagenes.length > 0" [value]="publicacion.imagenes"
                [circular]="true" [showIndicators]="publicacion.imagenes.length > 1" [showThumbnails]="false"
                [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="item" let-imagen>
                    <div [ngStyle]="{'height': '49rem', 'width': '100%','overflow':'hidden','background-color': 'black', 'border-radius': '10px'}"
                        class="flex justify-content-center align-content-center">
                        <img [src]="'data:' + imagen.tipo + ';base64,' + imagen.datos"
                            style="max-width: 100%; max-height: 100%; object-fit: contain;">
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="col-{{publicacion.imagenes && publicacion.imagenes.length > 0 ? '4' : '12'}} p-3 flex flex-column justify-content-between">
            <div>
                <div class="flex w-full relative align-items-center justify-content-between my-3 px-4">
                    <div class="border-top-1 surface-border top-50 left-0 absolute w-full"></div>
                    <div class="px-2 z-1 surface-section flex align-items-center">
                        <p-avatar
                            [image]="publicacion.fotoPerfil ? 'data:' + publicacion.fotoPerfil.tipo + ';base64,' + publicacion.fotoPerfil.datos : 'assets/icono/userDefault.png'"
                            shape="circle" class="flex align-items-center" />
                        <span class="font-bold text-900 white-space-nowrap ml-2">
                            {{publicacion.nick}}
                        </span>
                    </div>
                    <div class="px-2 z-1 surface-card flex align-items-center">
                        <div class="flex">
                            <span class="text-900">{{ getTiempoTranscurrido(publicacion.fechaPublicacion) }}</span>
                        </div>
                    </div>
                </div>
                <div class="text-600 m-3">
                    <p>{{publicacion.comentarioUsuario}}</p>
                </div>
                <div class="border-top-1 surface-border top-50 left-0 w-full"></div>
            </div>
            <div class="flex-1 mt-4 m-2 scrollable" style="max-height: 35rem; overflow-y: auto;">
                <div *ngFor="let comentario of comentarios" class="surface-200 p-3 border-round mb-3">
                    <div class="flex align-items-center mb-2 justify-content-between">
                        <div class="flex align-items-center">
                            <p-avatar
                                [image]="comentario.fotoPerfil ? 'data:' + comentario.fotoPerfil.tipo + ';base64,' + comentario.fotoPerfil.datos : 'assets/icono/userDefault.png'"
                                shape="circle" class="flex align-items-center" />
                            <b
                            class="ml-3">{{comentario.nickUsuario}}</b>
                        </div>
                        <span class="text-900" style="font-size: smaller;">{{ getTiempoTranscurrido(comentario.hora) }}</span>
                    </div>
                    <div class="comment-text">
                        {{comentario.comentario}}
                    </div>
                </div>
                <div *ngIf="comentarios.length === 0" class="text-center text-600">
                    <p>No hay comentarios para esta publicación.</p>
                </div>
            </div>
            <div class="bandeja">
                <p-avatar [image]="usuario?.foto ? 'data:' + usuario?.foto?.tipo + ';base64,' + usuario?.foto?.datos : 'assets/icono/userDefault.png'" shape="circle"
                    class="icon-avatar" />
                <input pInputText placeholder="Escribe tu mensaje..." id="texto" class="message-input"
                    [(ngModel)]="mensaje" (keydown.enter)="enviarMensaje()" />
                <button class="send-button" [disabled]="!mensaje" (click)="enviarMensaje()">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor"
                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span>Enviar</span>
                </button>
            </div>
        </div>
    </div>
</p-dialog>