<div class="m-5">
    <div style="height: 200px; background: url('assets/fondo/guts.webp') no-repeat; background-size: cover;
        border-top-left-radius: 1.5cap; border-top-right-radius: 1.5cap;">
    </div>
    <div class="px-4 py-5 md:px-6 lg:px-8 surface-section"
        style="border-bottom-left-radius: 1.5cap; border-bottom-right-radius: 1.5cap;">
        <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
            style="margin-top: -2rem; top: -70px; margin-bottom: -70px;">
            <div>
                <div class="mb-3 surface-card shadow-2 flex align-items-center justify-content-center"
                    style="width: 140px; height: 140px; border-radius: 10px;">
                    <img src="assets/icono/userDefault.png" alt="Image" width="70" height="70">
                </div>
                <div class="text-900 text-3xl font-medium mb-3">Company Name</div>
                <p class="mt-0 mb-3 text-700 text-xl">Vitae tortor condimentum lacinia quis vel eros.
                </p>
                <div class="text-600 font-medium"><span>Software | USA | 15523 Followers</span></div>

            </div>
            <div class="mt-3 lg:mt-0"><button pbutton="" pripple="" label="Follow" icon="pi pi-plus-circle"
                    class="p-element p-ripple p-button-outlined mr-2 p-button p-component"><span
                        class="p-button-icon p-button-icon-left pi pi-plus-circle"
                        aria-hidden="true"></span><span class="p-button-label">Follow</span><span
                        class="p-ink"
                        style="height: 116px; width: 116px; top: -21.5px; left: 21.375px;"></span></button><button
                    pbutton="" pripple="" label="Website" icon="pi pi-link"
                    class="p-element p-ripple mr-2 p-button p-component"><span
                        class="p-button-icon p-button-icon-left pi pi-link" aria-hidden="true"></span><span
                        class="p-button-label">Website</span><span class="p-ink"
                        style="height: 127px; width: 127px; top: -33px; left: 32.1406px;"></span></button><button
                    pbutton="" pripple="" icon="pi pi-ellipsis-v"
                    class="p-element p-ripple p-button-outlined p-button-rounded p-button p-component p-button-icon-only"><span
                        class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span><span class="p-ink"
                        style="height: 48px; width: 48px; top: 5.5px; left: 6px;"></span></button>
            </div>
        </div>
        

        <div class="lg:px-8 md:px-6 px-4 py-5 surface-0 ng-star-inserted">
            <div class="flex w-full relative align-items-center justify-content-center my-3 px-4">
                <div class="border-top-1 surface-border top-50 left-0 absolute w-full"></div>
                <div class="px-2 z-1 surface-0 flex align-items-center"><i
                        class="pi pi-images text-900 mr-2"></i><span class="text-900 font-medium">Mis Publicaciones</span></div>
            </div>
        </div>

        <div class="flex justify-content-center">
            <div class="text-center">
                <i class="pi pi-lock mb-4" style="font-size: 5rem"></i>
                <h4 class="text-900">Este usuario es PRIVADO</h4>
                <p>Para poder ver las publicaciones de este usuario es necesario que acepte tu petición de amistad</p>
            </div>
        </div>
        <!--<div class="flex justify-content-center">
            <div class="text-center">
                <i class="pi pi-image mb-4" style="font-size: 5rem"></i>
                <h4 class="text-900">Sin Publicaciones</h4>
            </div>
        </div>-->
        <!--
<div class="flex justify-content-end">
                <form [formGroup]="formGroupSelect">
                    <p-selectButton
                        [options]="stateOptions" 
                        formControlName="value" 
                        optionLabel="label" 
                        optionValue="value"
                        />
                </form>
            </div>
            <div class="flex justify-content-evenly flex-wrap">
                <div class="mb-4" *ngFor="let imagen of imagenes">
                    <div class="contenedor-imagen">
                        <img [src]="imagen" class="imagen-cuadrada">
                        <div class="overlay">
                            <div class="flex texto">
                                <span class="pi pi-comments text-black text-2xl"> 5</span>
                                <span class="pi pi-heart ml-3 text-black text-2xl"> 123</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        -->    
    </div>
</div>
