<p-toast></p-toast>
<div class="m-5">
    <div
        [style]="'background: url(' + (usuarioPerfil.banner ? 'data:' + usuarioPerfil.banner.tipo + ';base64,'
         + usuarioPerfil.banner.datos : 'assets/icono/default-banner.jpg')
          + ')center center;height: 200px; border-top-left-radius: 1.5rem; border-top-right-radius: 1.5rem; background-size: cover;'">
    </div>
    <div class="px-4 py-5 md:px-6 lg:px-8 surface-card"
        style="border-bottom-left-radius: 1.5cap; border-bottom-right-radius: 1.5cap;">
        <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
            style="margin-top: -2rem; top: -70px; margin-bottom: -70px;">
            <div>
                <div class="mb-3 surface-card shadow-3 flex align-items-center justify-content-center"
                    style="width: 140px; height: 140px; border-radius: 10px;">
                    <img [src]="usuarioPerfil.fotoperfil ? 'data:' + usuarioPerfil.fotoperfil.tipo + ';base64,' + usuarioPerfil.fotoperfil.datos : 'assets/icono/userDefault.png'"
                        alt="Image" class="w-100 h-100 border-round">
                </div>
                <div class="text-900 text-3xl font-medium mb-3">{{usuarioPerfil.nick}}</div>
                <p class="mt-0 mb-3 text-700 text-xl">{{usuarioPerfil.nombre+' '+usuarioPerfil.apellidos}}
                </p>
                <div class="text-600 font-medium"><span>{{usuarioPerfil.email}} | {{usuarioPerfil.fechaNac}} |
                        {{usuarioPerfil.npublicaciones}} Publicaciones</span></div>

            </div>
            <div class="mt-3 lg:mt-0">

                <div *ngIf="usuarioPerfil.email == usuarioSesion.email; else elseBlock">
                    <button pbutton="" pripple="" icon="pi pi-ellipsis-v"
                        class="p-element p-ripple p-button-outlined p-button p-component" (click)="showDialog()">Editar
                        Perfil<span class="p-button-icon pi pi-pencil ml-2" aria-hidden="true"></span><span
                            class="p-ink" style="height: 48px; width: 48px; top: 5.5px; left: 6px;"></span></button>
                </div>
                <ng-template #elseBlock>
                    <button pbutton="" pripple="" label="Website" icon="pi pi-link"
                        class="p-element p-ripple mr-2 p-button p-component"><span
                            class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span><span
                            class="p-button-label">Enviar Solicitud</span><span class="p-ink"
                            style="height: 127px; width: 127px; top: -33px; left: 32.1406px;"></span></button>
                </ng-template>
            </div>
        </div>

        <!--AVISO DE USUARIO PRIVADO-->
        <div class="flex justify-content-center" *ngIf="estadoPerfil == 'PRIVADO'">
            <div class="text-center">
                <i class="pi pi-lock mb-4" style="font-size: 5rem"></i>
                <h4 class="text-900">Este usuario es PRIVADO</h4>
                <p>Para poder ver las publicaciones de este usuario es necesario que acepte tu petición de amistad</p>
            </div>
        </div>


        <div class="lg:px-8 md:px-6 px-4 py-5 surface-card ng-star-inserted" *ngIf="estadoPerfil == 'PUBLICO'">
            <!--SEPARADOR SELECTOR-->
            <div class="flex my-3 px-4 justify-content-center relative">
                <div class="border-top-1 surface-border absolute top-50 w-full"></div><span
                    class="p-buttonset z-1"><button pripple=""
                        class="p-ripple p-element appearance-none border-1 border-round-left surface-border p-2 surface-0 hover:surface-200 active:surface-300 cursor-pointer"
                        (click)="cambiarVista('publicaciones')"><i class="text-600">Mis Publicaciones</i><span
                            class="p-ink"></span></button><button pripple=""
                        class="p-ripple p-element appearance-none border-1 border-left-none surface-border p-2 surface-0 hover:surface-200 active:surface-300 cursor-pointer"
                        (click)="cambiarVista('media')"><i class="text-600">Media</i><span
                            class="p-ink"></span></button><button pripple=""
                        class="p-ripple p-element appearance-none border-1 border-left-none border-round-right surface-border p-2 surface-0 hover:surface-200 active:surface-300 cursor-pointer"
                        (click)="cambiarVista('meGustan')"><i class="text-600">Me gustan</i><span
                            class="p-ink"></span></button></span>
            </div>

            <!--LISTAR APARTADO 'MIS PUBLICACIONES'-->
            <div class="m-2" *ngIf="estadoMenu == 'publicaciones' || estadoMenu == 'meGustan'">
                <app-publicacion-card *ngFor="let publicacion of Publicaciones" [publicacion]="publicacion"
                    [media]=false (eliminar)="manejarEliminacionPerfil($event)"></app-publicacion-card>
            </div>

            <!--LISTAR APARTADO 'MEDIA'-->
            <div class="flex justify-content-evenly flex-wrap" *ngIf="estadoMenu == 'media'">
                <app-publicacion-card *ngFor="let publicacion of Publicaciones" [publicacion]="publicacion" [media]=true
                    (eliminar)="manejarEliminacionPerfil($event)"></app-publicacion-card>
            </div>
            <div class="flex justify-content-center" *ngIf="Publicaciones?.length == 0">
                <div class="text-center">
                    <i class="pi pi-image mb-4" style="font-size: 5rem"></i>
                    <h4 class="text-900">Sin Publicaciones</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" header="Editar Perfil" [draggable]="false" class="scrollable"
    [resizable]="false" [style]="{ width: '45rem'}" position="top">
    <p-tabMenu [model]="items" [(activeItem)]="activeItem" />
    <form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()" class="mt-4 p-dialog-content"
        [hidden]="activeItem.label !== 'Datos'">
        <div class="grid formgrid p-fluid p-5 pt-0">
            <div class="field col-12">
                <label for="email">Correo Electrónico</label>
                <input pInputText id="email" class="form-control" formControlName="email"/>
                <div *ngIf="usuarioForm.get('email')?.hasError('emailExists')">
                    Este email ya está registrado.
                </div>
            </div>
            <div class="field col-12">
                <label for="nick">Nick (Apodo)</label>
                <input pInputText id="nick" class="form-control" formControlName="nick" />
                <div *ngIf="f['nick']?.invalid && (f['nick']?.dirty || f['nick']?.touched)" class="text-danger">
                    <div>El nick es requerido</div>
                </div>
                <div *ngIf="usuarioForm.get('nick')?.hasError('nickExists')">
                    Este nick ya está registrado.
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label for="nombre">Nombre</label>
                <input pInputText id="nombre" class="form-control" formControlName="nombre" />
            </div>
            <div class="field col-12 md:col-6">
                <label for="apellidos">Apellidos</label>
                <input pInputText id="apellidos" class="form-control" formControlName="apellidos" />
            </div>
            <div class="field col-12">
                <label for="fechaNac">Fecha de Nacimiento</label>
                <p-calendar [showIcon]="true" inputId="fechaNac" formControlName="fechaNac"></p-calendar>
            </div>
            <div class="col-12 mt-2">
                <p-button label="Editar usuario" icon="pi pi-user-edit" (onClick)="registrarUsuario()"
                    [disabled]="usuarioForm.invalid || emailRepetido"></p-button>
            </div>
        </div>
    </form>
    <form [formGroup]="usuarioSecurityForm" (ngSubmit)="registrarUsuarioSecurity()" class="mt-4 p-dialog-content"
        [hidden]="activeItem.label !== 'Seguridad'">
        <div class="grid formgrid p-fluid p-5 pt-0">
            <div class="field col-12">
                <label for="passwordOld">Contraseña antigua</label>
                <p-password id="passwordOld" formControlName="passwordOld" [toggleMask]="true"
                    [feedback]="false"></p-password>
            </div>
            <div class="field col-12">
                <label for="password">Nueva contraseña</label>
                <p-password id="password" formControlName="password" [toggleMask]="true"></p-password>
            </div>
            <div class="field col-12">
                <label for="passwordRepeat">Repite la contraseña</label>
                <p-password id="passwordRepeat" formControlName="passwordRepeat" [toggleMask]="true"
                    [feedback]="false"></p-password>
            </div>
            <div class="field col-12 flex p-3 align-items-center justify-content-center pt-5 flex-wrap">
                <label for="privado" class="mr-4">Cuenta Privada</label>
                <p-inputSwitch id="privado" formControlName="privado"></p-inputSwitch>
            </div>
            <div class="col-12 mt-2">
                <p-button label="Editar usuario" icon="pi pi-user-edit"
                    (onClick)="registrarUsuarioSecurity()"></p-button>
            </div>
        </div>
    </form>
    <div class="grid formgrid p-fluid p-5 pt-0" [hidden]="activeItem.label !== 'Multimedia'">
        <div class="field col-12">
            <b>Banner</b>
            <p>Para la elección del banner se recomienda una imagen con la siguiente relación (21:9)</p>
            <img class="imagenBannerForm"
                [src]="imagenBanner ? imagenBanner : (usuarioPerfil.banner ? 'data:' + usuarioPerfil.banner.tipo + ';base64,' + usuarioPerfil.banner.datos : 'assets/fondo/fondoOscuro.jpg')"
                alt="imagen Banner">
            <div class="flex justify-content-end mt-2">
                <p-fileUpload mode="basic" name="foto" url="https://www.primefaces.org/cdn/api/upload.php"
                    accept="image/*" chooseLabel="Elegir" class="ml-3" (onUpload)="onUploadBanner($event)"
                    [auto]="true"></p-fileUpload>
            </div>
        </div>
        <div class="field col-12 md:col-6 flex justify-content-center align-items-center flex-wrap">
            <label class="mr-3">Foto de perfil</label>
            <p-avatar
                [image]="imagenURL ? imagenURL : (usuarioPerfil.fotoperfil ? 'data:' + usuarioPerfil.fotoperfil.tipo + ';base64,' + usuarioPerfil.fotoperfil.datos : 'assets/icono/userDefault.png')"
                size="xlarge" shape="circle"></p-avatar>
            <p-fileUpload mode="basic" name="foto" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"
                chooseLabel="Elegir" class="ml-3" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
        </div>
    </div>
</p-dialog>