<p-toast></p-toast>
<div class="m-5">
    <div
        [style]="'background: url(' + (usuarioPerfil.banner ? 'data:' + usuarioPerfil.banner.tipo + ';base64,'
         + usuarioPerfil.banner.datos : 'assets/icono/default-banner.jpg')
          + ')center center;height: 200px; border-top-left-radius: 1.5rem; border-top-right-radius: 1.5rem; background-size: cover;'">
    </div>
    <div class="px-4 py-5 md:px-6 lg:px-8 surface-card"
        style="border-bottom-left-radius: 1.5cap; border-bottom-right-radius: 1.5cap;">
        <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
            style="margin-top: -2rem; top: -70px; margin-bottom: -70px;">
            <div>
                <div class="mb-3 surface-card shadow-3 flex align-items-center justify-content-center"
                    style="width: 140px; height: 140px; border-radius: 10px;">
                    <img [src]="usuarioPerfil.fotoperfil ? 'data:' + usuarioPerfil.fotoperfil.tipo + ';base64,' + usuarioPerfil.fotoperfil.datos : 'assets/icono/userDefault.png'"
                        alt="Image" class="w-100 h-100 border-round">
                </div>
                <div class="text-900 text-3xl font-medium mb-3">{{usuarioPerfil.nick}}</div>
                <p class="mt-0 mb-3 text-700 text-xl">{{usuarioPerfil.nombre+' '+usuarioPerfil.apellidos}}
                </p>
                <div class="text-600 font-medium"><span>{{usuarioPerfil.email}} | {{usuarioPerfil.fechaNac}} |
                        {{usuarioPerfil.npublicaciones}} Publicaciones</span></div>

            </div>
            <div class="mt-3 lg:mt-0">

                <div *ngIf="usuarioPerfil.email == usuarioSesion.email; else elseBlock">
                    <button pbutton="" pripple="" icon="pi pi-ellipsis-v"
                        class="p-element p-ripple p-button-outlined p-button p-component">Editar Perfil<span
                            class="p-button-icon pi pi-pencil ml-2" aria-hidden="true"></span><span class="p-ink"
                            style="height: 48px; width: 48px; top: 5.5px; left: 6px;"></span></button>
                </div>
                <ng-template #elseBlock>
                    <button pbutton="" pripple="" label="Website" icon="pi pi-link"
                        class="p-element p-ripple mr-2 p-button p-component"><span
                            class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span><span
                            class="p-button-label">Enviar Solicitud</span><span class="p-ink"
                            style="height: 127px; width: 127px; top: -33px; left: 32.1406px;"></span></button>
                </ng-template>
            </div>
        </div>

        <!--AVISO DE USUARIO PRIVADO-->
        <div class="flex justify-content-center" *ngIf="estadoPerfil == 'PRIVADO'">
            <div class="text-center">
                <i class="pi pi-lock mb-4" style="font-size: 5rem"></i>
                <h4 class="text-900">Este usuario es PRIVADO</h4>
                <p>Para poder ver las publicaciones de este usuario es necesario que acepte tu petición de amistad</p>
            </div>
        </div>


        <div class="lg:px-8 md:px-6 px-4 py-5 surface-card ng-star-inserted" *ngIf="estadoPerfil == 'PUBLICO'">
            <!--SEPARADOR SELECTOR-->
            <div class="flex my-3 px-4 justify-content-center relative">
                <div class="border-top-1 surface-border absolute top-50 w-full"></div><span
                    class="p-buttonset z-1"><button pripple=""
                        class="p-ripple p-element appearance-none border-1 border-round-left surface-border p-2 surface-0 hover:surface-200 active:surface-300 cursor-pointer"
                        (click)="cambiarVista('publicaciones')"><i class="text-600">Mis Publicaciones</i><span
                            class="p-ink"></span></button><button pripple=""
                        class="p-ripple p-element appearance-none border-1 border-left-none surface-border p-2 surface-0 hover:surface-200 active:surface-300 cursor-pointer"
                        (click)="cambiarVista('media')"><i class="text-600">Media</i><span
                            class="p-ink"></span></button><button pripple=""
                        class="p-ripple p-element appearance-none border-1 border-left-none border-round-right surface-border p-2 surface-0 hover:surface-200 active:surface-300 cursor-pointer"
                        (click)="cambiarVista('meGustan')"><i class="text-600">Me gustan</i><span
                            class="p-ink"></span></button></span>
            </div>

            <!--LISTAR APARTADO 'MIS PUBLICACIONES'-->
            <div class="m-2" *ngIf="estadoMenu == 'publicaciones' || estadoMenu == 'meGustan'">
                <app-publicacion-card *ngFor="let publicacion of Publicaciones" [publicacion]="publicacion"
                [media]=false  (eliminar)="manejarEliminacionPerfil($event)"></app-publicacion-card>
            </div>

            <!--LISTAR APARTADO 'MEDIA'-->
            <div class="flex justify-content-evenly flex-wrap" *ngIf="estadoMenu == 'media'">
                <app-publicacion-card *ngFor="let publicacion of Publicaciones" [publicacion]="publicacion"
                [media]=true  (eliminar)="manejarEliminacionPerfil($event)"></app-publicacion-card>
            </div>
            <div class="flex justify-content-center" *ngIf="Publicaciones?.length == 0">
                <div class="text-center">
                    <i class="pi pi-image mb-4" style="font-size: 5rem"></i>
                    <h4 class="text-900">Sin Publicaciones</h4>
                </div>
            </div>
        </div>
    </div>
</div>