<p-toast></p-toast>
<div class="grid nested-grid mt-2">
    <div class="col-8">
        <div class="shadow-2 surface-card p-4" style="border-radius: 12px;">
            <div class="flex align-items-center mt-3 text-900 justify-content-between">
                <span class="text-3xl text-900 font-bold">Publicaciones de Amigos</span>
                <div>
                    <p-dropdown [options]="days" [(ngModel)]="selectedDay" optionLabel="name"
                        placeholder="Filtrar por día" class="mr-2"></p-dropdown>
                    <p-button icon="pi pi-refresh" (onClick)="recargarPublicaciones()"></p-button>
                </div>
            </div>
            <app-publicacion-card *ngFor="let publicacion of publicacionesFeed" [publicacion]="publicacion"
                [media]=false  (eliminar)="manejarEliminacionPrincipal($event)"></app-publicacion-card>
        </div>
    </div>
    <div class="col-4">
        <div class="grid">
            <div class="col-12">
                <div class="shadow-2 surface-card p-4" style="border-radius: 12px;">
                    <div class="flex align-items-center justify-content-between">
                        <div><span class="text-3xl text-900 font-bold">Bienvenido</span>
                            <p class="mt-1 mb-0 text-600 text-xl">{{usuario.nombre}}
                                {{usuario.apellidos}}</p>
                        </div>
                        <div>
                            <p-button label="Ver Perfil" (onClick)="visitarPerfil()"></p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="shadow-2 surface-card p-4" style="border-radius: 12px;">
                    <p class="mb-0 text-600 text-xl">Buscar usuario</p>
                    <div class="flex justify-content-between mt-2">
                        <span class="p-fluid w-100">
                            <p-autoComplete [(ngModel)]="selectedusuariosSearchAdvanced"
                                [suggestions]="filteredusuariosSearch" (completeMethod)="filterCountry($event)"
                                field="nick">
                                <ng-template let-usuario pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <p-avatar
                                            [image]="usuario.foto ? 'data:' + usuario.foto.tipo + ';base64,' + usuario.foto.datos : 'assets/icono/userDefault.png'"
                                            size="normal" shape="circle"></p-avatar>
                                        <div>{{ usuario.nick }}</div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                        </span>
                        <p-button label="Buscar" class="ml-2" (onClick)="buscarUsuario()"></p-button>
                    </div>
                </div>
            </div>
            <div class="col-12 flex justify-content-center align-items-center p-4">
                <app-publicacionform [usuario]="usuario"></app-publicacionform>
            </div>
        </div>
    </div>
</div>