<div class="grid nested-grid mt-2">
    <div class="col-8">
        <div class="shadow-2 surface-card p-4" style="border-radius: 12px;">
            <div class="flex justify-content-center align-items-center mt-3 text-900">
                <i class="pi pi-arrow-down mr-3" style="font-size: 2rem"></i>
                <h3>Tu Feed</h3>
                <i class="pi pi-arrow-down ml-3" style="font-size: 2rem"></i>
            </div>
            <app-publicacion-card></app-publicacion-card>
            <app-publicacion-card></app-publicacion-card>
            <app-publicacion-card></app-publicacion-card>
            <app-publicacion-card></app-publicacion-card>
        </div>
    </div>
    <div class="col-4">
        <div class="grid">
            <div class="col-12">
                <div class="shadow-2 surface-card p-4" style="border-radius: 12px;">
                    <div class="flex align-items-center justify-content-between">
                        <div><span class="text-3xl text-900 font-bold">Bienvenido</span>
                            <p class="mt-1 mb-0 text-600 text-xl">Alberto Hidalgo</p>
                        </div>
                        <div>
                            <p-button label="Ver Perfil"></p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center p-3 border-round-sm bg-primary font-bold">12</div>
            </div>
            <div class="col-12">
                <div class="text-center p-3 border-round-sm bg-primary font-bold">12</div>
            </div>
        </div>
    </div>
</div>