<div class="card">
    <p-toast></p-toast>
    <div class="table-responsive">
        <p-table [columns]="cols" [value]="datos" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} de {last} del {totalRecords} total"
            [rowsPerPageOptions]="[5, 10, 20]" dataKey="id" editMode="row"
            >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">{{nombreTabla}}</h5>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-container *ngFor="let column of columns">
                        <th [pSortableColumn]="column.field">
                            {{ column.header }}
                            <p-sortIcon [field]="column.field"></p-sortIcon>
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <p-cellEditor>
                            <ng-container *ngIf="!isNonEditableField(col.field)">
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData[col.field]" required style="width: auto;">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData[col.field]}}
                                </ng-template>
                            </ng-container>
                            <ng-container *ngIf="isNonEditableField(col.field)">
                                <ng-template pTemplate="input">
                                    {{rowData[col.field]}}
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData[col.field]}}
                                </ng-template>
                            </ng-container>
                        </p-cellEditor>
                    </td>

                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(rowData)"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(rowData, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteProduct(rowData)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Hay en total {{datos ? datos.length : 0 }}.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
